{%extends 'layouts/base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            <div class="card card-body">
                <form method="POST">
                    <h1>Editar Tarea</h1>
                    <div> {{ error }} </div>
                    {% csrf_token %}
                    {{form.as_div}}
                    <div class="text-center">
                        <button class="btn btn-dark mt-2 w-50 center" type="submit">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}