{%extends 'layouts/base.html'%}

{% block content %}
<main class="container mt-2">
    <h1>Tareas Pendientes</h1>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-6 my-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    {% if task.important %}
                    <h6 class="card-subtitle mb-2 text-muted">Prioridad Alta</h6>
                    {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Prioridad Baja</h6>
                    {% endif %}
                    <a href="{% url 'taskDetail' task.id %}" class="card-link">Ver Detalle</a>
                    <a href="{% url 'editTask' task.id %}" class="card-link">Editar</a>
                    <a href="{% url 'deleteTask' task.id %}" class="card-link">Eliminar</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if tasks.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{tasks.previous_page_number}}">Anterior</a></li>
                {% endif %}

                {% if tasks.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ tasks.next_page_number }}">Siguiente</a></li>
                {%else%}
                <li class="page-item"><a class="page-link disabled" href="#">Siguiente</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</main>
{% endblock %}